.menu {
    .menuList {
        .menuItem {
            min-height: 70px;
            font-size: 18px;
            align-items: center;
            display: flex;
            background-color: #F2F2F2;
            margin-bottom: 2px;
            padding: 0 30px;
        }
    }
}