.homeContainer {
    display: flex;
    flex-direction: row;
    width: 640px;
    position: relative;
    transition: .2s;
    left: 0;
    .homeSection, .categoriesSection, .categoryContainer, .categoryDetail {
        min-width: 320px;
    }
    &.showCategories,&.categoryDetail {
        left: -320px;
        transition: .2s;
    }
    &.categoryDetail {
        .categorySlider {
            left: -320px;
        }
        app-button-toolbar {
            transition: .2s;
            opacity: 1;
            display: block;
        }        
    }
    &.showMenu {
        left: 0;
        transition: .2s;
    }
    &.showCategories {
        app-button-toolbar {
            transition: .2s;
            opacity: 0;            
            display: none;
        }
    }
    .categorySlider {
        display: flex;
        flex-direction: row;
        min-width: 640px;
        position: relative;
        left: 0px;
        transition: .2s;        
    }
}
.windowDisplay {
    max-width: 320px;
    overflow: hidden;
}
.menu {
    .menuList {
        .menuItem {
            min-height: 70px;
            font-size: 18px;
            align-items: center;
            display: flex;
            background-color: #F2F2F2;
            margin-bottom: 2px;
            padding: 0 30px;
            cursor: pointer;
            transition: .2s;
            &:hover {
                transition: .2s;
                background-color:#dad9d9; 
            }
        }
    }
}
.categoriesList {
    .categoryElement {
        min-height: 44px;
        border-bottom: 1px solid #d6d6d6;
        padding: 0 30px;
        display: flex;
        align-items: center;
        cursor: pointer;
        transition: .2s;
        &:hover {
            transition: .2s;
            background-color:#dad9d9;
        }
    }
}