<div class="windowDisplay">
  <div class="homeContainer" [ngClass]="slideTo | async">
    <!-- Screen 1 -->
      <div class="homeSection">
          <app-header></app-header>
          <!-- Home Section -->
          <app-section-title [titleName]="title"></app-section-title>
          <!-- Menu and categories container -->
          <!-- Select city -->
          <div class="menu">
            <ul class="menuList">
              <li class="menuItem" 
                *ngFor="let city of cities" 
                (click)="selectCity(city)">{{city}}
              </li>
            </ul>
          </div>
      </div>
    <!-- Screen 2 -->
      <div class="categoriesSection">
        <!-- Header Navigation -->
        <app-header-nav 
          [headerName]="selectedCity" 
          [headerCategory]="selectedCategory">
        </app-header-nav>
        <app-button-toolbar [buttonName]="helpButtonTitle"></app-button-toolbar>        
        <div class="categorySlider">
          <!-- Categories container -->
          <div class="categoryContainer">
            <!-- Title -->
            <app-section-title [titleName]="categoriesTitle"></app-section-title>
            <!-- List -->
            <ul class="categoriesList">
              <li class="categoryElement"
                (click)="selectCategory(category)" 
                *ngFor="let category of categories">{{category}}
              </li>
            </ul>
          </div>
          <!-- Category Detail -->
          <div class="categoryDetail">
            <app-help></app-help>              
          </div>
        </div>
      </div>
  </div>  
</div>