.homeContainer {
    display: flex;
    flex-direction: row;
    width: 750px;
    position: relative;
    transition: .2s;
    left: 0;
    .homeSection, .categoriesSection {
        min-width: 375px;
    }
    &.showCategories {
        left: -375px;
        transition: .2s;
    }
    &.showMenu {
        left: 0;
        transition: .2s;
    }
}
.windowDisplay {
    max-width: 375px;
    overflow: hidden;
}
.menu {
    .menuList {
        .menuItem {
            min-height: 70px;
            font-size: 18px;
            align-items: center;
            display: flex;
            background-color: #F2F2F2;
            margin-bottom: 2px;
            padding: 0 30px;
            cursor: pointer;
            &:hover {
                background-color:#dad9d9; 
            }
        }
    }
}
.categoriesList {
    .categoryElement {
        min-height: 44px;
        border-bottom: 1px solid #d6d6d6;
        padding: 0 30px;
        display: flex;
        align-items: center;
    }
}