.sectionTitle {
    min-height: 60px;
    align-items: center;
    display: flex;
    padding: 0 30px;
    box-sizing: border-box;
    font-size: 14px;
    color: gray;
    .title {
        padding-top: 20px;        
    }
}