/* You can add global styles to this file, and also import other style files */
/* Reset */
body, p, ul {
    margin: 0;
    font-family: Gotham Light, Arial;
}
ul {
    list-style: none;
    padding: 0;
}